body{ 
    text-align: center;
    background-color: black;
}
.container{ 
    display: flex; 
    flex-direction: column;
    align-items:center;
    max-width: 100%;
    margin: auto;
    background-color: black;
    color:white;
}
.heading
{
    font-style:italic;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:45px;
    
}
label{
    color: var(--primary-color);
    display: flex;
    text-align: center;
    padding: 1rem;
}
#check-button{ 
    border: none;
    margin: 1rem auto;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    display: block;
    background-color: antiquewhite;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 1rem;
    margin-top: 10px;
}
caption{ 
    padding: 2rem;
}
table{
    border-collapse: collapse;
    width: 80%;
    text-align:justify;
    margin: 0rem auto;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 20px;
    
    
}
th, td
{
    border: 2px solid white;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}
p{ 
    padding: 1rem;
}